@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
  }
  
  
  
  
      .contain{
        display: flex;
        width: 100%;
        height: 100%;
        padding: 20px 20px;
        background-color: #fff;


    }

    .box{
        flex: 30%;
        display: table;
        align-items: center;
        text-align: center;
        font-size: 20px;
        /* background-color: #40C9A7; */
        background-image: url(../photos/Swash_Green_Top.png) ;
        color: #fff;
        padding: 30px 30px;
        border-radius: 20px;
    }

    .box .imageprofile{
        border-radius: 50%;
        border: 2px solid #fff;
        height: 250px;
        width: 250px;
    }

    .box ul{
        margin-top: 30px;
        font-size: 30px;
        text-align: center;
    }
    .box ul li{
        list-style: none;
        margin-top: 50px;
        font-weight: 500;
    }

    .box ul li i{
        cursor: pointer;
        margin: 10px;
        font-size: 40px;
    }

    .box ul li i:hover{
        opacity: 0.6;
    }

    .About{
        margin-left: 20px;
        flex: 50%;
        display: table;
        padding: 30px 30px;
        font-size: 20px;
        background-color:  #F2F0EF;

        border-radius: 20px;
    }

    .About h1{
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 50px;
        font-weight: 700;
        color: #F48257;
    }
    .About h3{
   
        color: #07393E;
    }

    .About ul li{
        list-style: none;
    }

    .About ul{
        margin-top: 20px;
    }

    @media screen and (max-width: 1068px) {
        .contain{
            display: table;
        }

        .box{
            width: 100%;
        }

        .About{
            width: 100%;
            margin: 0;
            margin-top: 20px;
        }

        .About h1{
            text-align: center;
        }
    }

 /* --------------------- Explore course ------------------ */

 .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .title a{
    background-color: #F48257;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
 }
 .title a:hover{
    background-color: #F48257;

 }
 
 #explorecourses{
    background-color: #F2F0EF;
    padding: 50px;

}
#explorecourses h2{
    color: black;
    margin-bottom: 30px;
    font-size: 55px;
    font-weight: 700;
    align-items: center;

    
    
}


/* review css */
.content-item {
    padding:30px 0;
	background-color:#FFFFFF;
}

.content-item.grey {
	background-color:#F0F0F0;
	padding:50px 0;
	height:100%;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight:400;
	font-size:20px;
	color:#555555;
	margin:10px 0 15px;
	padding:0;
}

.content-headline {
	height:1px;
	text-align:center;
	margin:20px 0 70px;
}

.content-headline h2 {
	background-color:#FFFFFF;
	display:inline-block;
	margin:-20px auto 0;
	padding:0 20px;
}

.grey .content-headline h2 {
	background-color:#F0F0F0;
}

.content-headline h3 {
	font-size:14px;
	color:#AAAAAA;
	display:block;
}


#comments {
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}

#comments form {
	margin-bottom:30px;
}

#comments .btn {
	margin-top:7px;
}

#comments form fieldset {
	clear:both;
}

#comments form textarea {
	height:100px;
  
}

#comments .media {
	border-top:1px dashed #DDDDDD;
	padding:20px 0;
	margin:10% 0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media img {
	max-width:100px;
    border-radius: 50%;
    margin-top: -2%;
}

#comments .media h4 {
	margin:0 0 10px;
}

#comments .media h4 span {
	font-size:14px;
	float:right;
	color:#999999;
}

#comments .media p {
	margin-bottom:15px;
}

#comments .media-detail {
	margin:0;
}

#comments .media-detail li {
	color:#AAAAAA;
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
}

#comments .media-detail a:hover {
	text-decoration:underline;
}

#comments .media-detail li:last-child {
	padding-right:0;
}

#comments .media-detail li i {
	color:#666666;
	font-size:15px;
	margin-right:10px;
}




  /* reservation style */
  .bg-light-blue {
    background-color: #e9f7fe !important;
    color: #3184ae;
    padding: 7px 18px;
    border-radius: 4px;
}

.bg-light-green {
    background-color: rgba(40, 167, 69, 0.2) !important;
    padding: 7px 18px;
    border-radius: 4px;
    color: #28a745 !important;
}

.buttons-to-right {
    /* position: absolute; */
    /* right: 0; */
    margin-top: 12%;
}

.btn-gray {
    color: #666;
    background-color: #eee;
    padding: 7px 18px;
    border-radius: 4px;
}

/* .booking:hover .buttons-to-right .btn-gray {
    opacity: 1;
    transition: .3s;
}

.buttons-to-right .btn-gray {
    opacity: 0;
    transition: .3s;
} */

.btn-gray:hover {
    background-color: #36a3f5;
    color: #fff;
}

.booking {
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
}

.booking:last-child {
    margin-bottom: 0px;
    border-bottom: none;
    padding-bottom: 0px;
}

@media screen and (max-width: 575px) {
    .buttons-to-right {
        top: 10%;
    }
    .buttons-to-right a {
        display: block;
        margin-bottom: 20px;
    }
    .buttons-to-right a:last-child {
        margin-bottom: 0px;
    }
    .bg-light-blue,
    .bg-light-green,
    .btn-gray {
        padding: 7px;
    }
}

.card {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    box-shadow: none;
    border: none;
    padding: 25px;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.msg-img {
    margin-right: 20px;
}
.msg-img img {
    width: 60px;
    border-radius: 50%;
}
#imguser {
    max-width: 100%;
    height: auto;
}

/* update profile style */

.form-container{
    font-family: 'Nunito', sans-serif;
    font-size: 0;
    border-radius: 20px;
    overflow: hidden;
}
.form-container .form-img{
    background-image: url('https://source.unsplash.com/600x600/?clothes');
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
    height: 554px;
    vertical-align: top;
    display: inline-block;
}
.form-container .form-horizontal{
    background: #000;
    width: 50%;
    padding: 33px 35px 32.5px;
    display: inline-block;
}
.form-container .title{
    color:#fff;
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 35px;
}
.form-container .form-horizontal .form-group{ margin: 0 0 10px; }
.form-container .form-horizontal .form-control{
    color: #ccc;
    background: transparent;
    padding: 5px 0;
    margin-bottom: 33px;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.2);
    border-radius: 0;
}
.form-container .form-horizontal .form-control:focus{
    outline: none;
    box-shadow: none;
}
.form-container .form-horizontal .form-control::placeholder{
    color: #ccc;
    font-size: 16px;
    font-weight: 400;
}
.form-container .form-horizontal .form-group select.form-control option{
    color: #000;
    background: #fff;
}
.form-container .form-horizontal .btn{
    color:#fff;
    background:#4dae3c;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 50px;
    padding: 8px 25px;
    border: none;
    transition: all .4s ease;
}
.form-container .form-horizontal .btn:hover{ text-shadow: 2px 2px 2px rgba(0,0,0,.6); }
.form-container .form-horizontal .btn:focus{ outline: none; }
@media only screen and (max-width:576px){
    .form-container .form-img{
        width: 100%;
        height: 400px;
    }
    .form-container .form-horizontal{ width: 100%; }
}

  